
.about-banner{
  background-image: url('../img/news/news2.png');
}
.banner{
  height: 600px;
  overflow-y: hidden;
  background-position: center;
  background-size: cover;
  .banner-main{
    margin-top: 120px;
    h3{
      font-weight: 600;
      font-size: 5.7rem;
      letter-spacing: 10px;
      text-align: center;
      color: rgba(0,0,0,.1);
      transform: scale(1.2);
      transition: all 2s ease-out;
      width: 85%;
      margin: 0 auto;
    }
  }
}
#bdshare_weixin_qrcode_dialog{
  box-sizing: content-box;
}
.news-main{
  display: flex;
  align-items: flex-start;
  justify-content: space-between; 
  .news-content{
    width: 100%;
    .news-content-text{
      padding: 20px 0;
      margin: 10px 0;
      border-top: 1px solid #c3c3c3;
      border-bottom: 1px solid #c3c3c3;
      color: #333;
      p{
        font-size: 1.4rem;
        letter-spacing: 1.1px;
        text-align: justify;
        line-height: 24px;
        margin: 10px 0;
      }
      img{
        width: 100%;
        margin: 15px 0;
      }
      h5{
        font-weight: 600;
        font-size: 1.8rem;
        color: #000000;
        letter-spacing: 1.4px;
        line-height: 25px;
        border-bottom: 3px solid #93D2E9;
        display: inline-block;
        margin-bottom: 15px;
        margin-top: 30px;
      }
      h4{
        font-weight: 600;
        font-size: 2.4rem;
        color: #000000;
        letter-spacing: 1.89px;
        line-height: 30px;
        border-bottom: 3px solid #009944;
        display: inline-block;
        margin-bottom: 20px;
        margin-top: 40px;
        // &:first-of-type{
        //   margin-top: 0;
        // }
      }
      ul{
        margin: 20px 0;
        li{
          font-size: 1.4rem;
          letter-spacing: 1.1px;
          text-align: justify;
          line-height: 24px;
        }
      }
    }
  }
  .news-list{
    width: 30%;
    .news-list-item{
      margin-bottom: 40px;
      img{
        width: 100%;
      }
      .news-list-item__text{
        margin: 10px 0;
        padding-left: 10px;
        border-left: 3px solid #009944;
        h5{
         font-weight: 600;
          font-size: 14px;
          letter-spacing: 1.02px;
          line-height: 22px;
          color: #000000;
        }
      }
      span{
        display: block;
        text-align: right;
        font-family: DIN-Bold;
        font-size: 14px;
        color: #009944;
        letter-spacing: 0.23px;
        svg{
          margin-left: 3px;
        }
      }
    }
  }
}
.about{
  .about-title{
    background-image: url('../img/contact-title.png');
    background-position: right center;
    background-size: 70px;
    background-repeat: no-repeat;
    width: 300px;
    margin-bottom: 40px;
    h3{
      font-family: DIN-Bold;
      font-size: 4rem;
      color: #009944;
      letter-spacing: 1.88px;
      line-height: 47px;
      text-transform: uppercase;
    }
    h4{
      font-weight: 600;
      font-size: 2.4rem;
      color: #009944;
      letter-spacing: 1.76px;
      line-height: 24px;
      margin-top: 20px;
    }
  }
}





/*电脑*/
@media screen  and (min-width:1400px){
}
/*笔记本*/
@media screen and (max-width: 1399px) and (min-width: 1200px){
   
}
@media screen and (max-width: 1199px) and (min-width: 1023px){
}  
/*横向平板*/
@media screen and (max-width: 1099px) and (min-width: 1023px){
}   
 
/*平板*/
@media screen and (max-width: 1023px) and (min-width: 768px){
}
/*笔记本高度*/
@media screen and (max-height: 767px) and (min-height: 600px){

}
/*手机*/
@media screen and (max-width: 767px){
  .banner{
    height: 300px;
    overflow-y: inherit;
    .banner-main{
      margin-top: 50px;
      h3{
        font-size: 2.6rem;
      }
    }
  }
  .news-main{
    flex-wrap: wrap;
    .news-content{
      width: 100%;
    }
    .news-list{
      width: 100%;
      margin-top: 40px;
      .news-list-item{
        margin-bottom: 30px;
        .news-list-item__text{
          margin: 10px 0 0;
        }
      }
    }
  }
  .about{
    .about-title{
      width: 60%;
      margin-bottom: 30px;
      h3{
        font-size: 3rem;
        letter-spacing: 1.4px;
        line-height: 30px;
      }
      h4{
        font-size: 1.8rem;
        letter-spacing: 1.4px;
        line-height: 24px;
        margin-top: 10px;
      }
    }
  }
}

@media screen and (max-width: 320px){
}