.banner{
  height: 600px;
  overflow-y: hidden;
  background-image: url('../img/efficiency.png');
  background-position: center;
  background-size: cover;
  .banner-main{
    span{
      display: block;
      text-align: center;
      margin: 100px auto 30px;
      svg{
        cursor: pointer;
      }
    }
    h3{
      font-weight: 600;
      font-size: 5.7rem;
      letter-spacing: 10px;
      text-align: center;
      color: rgba(0,0,0,.1);
      transform: scale(1.2);
      transition: all 2s ease-out;
    }
  }
}
.efficiency-main{
  
  .efficiency-main-intro{
    display: flex;
    align-items: flex-start;
    justify-content: space-between; 
    padding-bottom: 20px;
    .intro-title{
      width: 40%;
      padding-right: 60px;
      h3{
        font-weight: 600;
        font-size: 2.6rem;
        color: #009944;
        letter-spacing: 3.16px;
        line-height: 40px;
      }
    }
    .intro-text{
      width: 60%;
      p{
        font-size: 1.4rem;
        letter-spacing: 0.23px;
        line-height: 23px;
        margin-bottom: 20px;
      }
    }
  }
  .efficiency-carousel{
    border-top: 1px solid #c3c3c3;
    padding-top: 30px;
    padding-bottom: 40px;
    h3{
      font-family: DIN-Bold;
      font-size: 4rem;
      color: #009944;
      letter-spacing: 1.88px;
      text-align: center;
      line-height: 62px;
      text-transform: uppercase;
    }
    h4{
      font-weight: 600;
      font-size: 2.4rem;
      color: #009944;
      letter-spacing: 1.76px;
      text-align: center;
      line-height: 24px;
    }
    .item__arrows{
      float: right;
      margin-top: 20px;
      span{
        cursor: pointer;
        &:last-child{
          margin-left: 50px;
        }
      }
    }
    .efficiency-carousel-main{
      padding-top: 80px;
      overflow: hidden;
      // height: 680px;
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: space-between; 
      .item-wall{
        background: #FFFFFF;
        border: 1px solid rgba(195, 195, 195, 0.48);
        transition: all .3s ease-out;
        transform: scale(1);
        border-radius: 6px;
        padding: 35px 40px 30px;
        height: 300px;
        width: 32%;
        svg{
          margin-bottom: 30px;
        }
        p{
          font-size: 1.4rem;
          letter-spacing: 1.5px;
          text-align: justify;
          line-height: 24px;
        }
      }
    }
  }
}





/*电脑*/
@media screen  and (min-width:1400px){
}
/*笔记本*/
@media screen and (max-width: 1399px) and (min-width: 1200px){
   
}
@media screen and (max-width: 1199px) and (min-width: 1023px){
}  
/*横向平板*/
@media screen and (max-width: 1099px) and (min-width: 1023px){
}   
 
/*平板*/
@media screen and (max-width: 1023px) and (min-width: 768px){
}
/*笔记本高度*/
@media screen and (max-height: 767px) and (min-height: 600px){

}
/*手机*/
@media screen and (max-width: 767px){
  .banner{
    height: 300px;
    overflow-y: inherit;
    .banner-main{
      span{
        margin: 10px auto 20px;
      }
      h3{
        font-weight: 600;
        font-size: 2.6rem;
        letter-spacing: 10px;
        text-align: center;
        color: rgba(0,0,0,.1);
        transform: scale(1.2);
        transition: all 2s ease-out;
      }
    }
  }

  .efficiency-main{
  
    .efficiency-main-intro{
      display: flex;
      align-items: flex-start;
      justify-content: space-between; 
      flex-wrap: wrap;
      padding-bottom: 0;
      .intro-title{
        width: 100%;
        padding-right: 0;
        h3{
          font-weight: 600;
          font-size: 1.8rem;
          color: #009944;
          letter-spacing: 2px;
          line-height: 30px;
          text-align: center;
          width: 80%;
          margin: 0 auto;
        }
      }
      .intro-text{
        width: 100%;
        margin-top: 30px;
      }
    }
    .efficiency-carousel{
      border-top: 1px solid #c3c3c3;
      padding-top: 30px;
      padding-bottom: 0;
      h3{
        font-size: 3rem;
        color: #009944;
        letter-spacing: 1.4px;
        line-height: 40px;
      }
      h4{
        font-size: 2.1rem;
        color: #009944;
        letter-spacing: 1.54px;
        line-height: 21px;
      }
      
      .efficiency-carousel-main{
        flex-wrap: wrap; 
        .item-wall{
          width: 100%;
          margin-bottom: 40px;
        }
      }
    }
  }
}

@media screen and (max-width: 320px){
}